<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sliceart
    link(rel="shortcut icon" href="build/images/favicon.ico" type="image/x-icon")
    link(media="all", rel="stylesheet", href="build/vendor.css")
    link(media="all", rel="stylesheet", href="build/app.css")
  body
    div.wrapper
      header
        div.container
          div.row
            div.col-md-4
              a.logo MODUS
                span versus
            div.col-md-8
              nav
                ul.menu
                  li.item
                    a HOME
                  li.item
                    a ABOUT
                  li.item
                    a SERVICES
                  li.item
                    a PORTFOLIO
                    ul.sub-menu
                      li.sub-item
                        a Portfolio 2 column page
                      li.sub-item
                        a Portfolio 2 column page
                      li.sub-item
                        a Portfolio 2 column page
                  li.item
                    a BLOG
                  li.item
                    a FEATURES
                  li.item
                    a CONTACTS
              input(type="search")




      

    script(src="build/vendor.js")
    script(src="build/app.js")
    script(src="http://localhost:35729/livereload.js?snipver=1")