$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
// @import 'base/forms';

@import 'components/bootstrap-custom';
// ---------------------- Default style
a {
	cursor: pointer;
}
ul {
	font-size: 0px;
}
.btn {
	&-icon {
		margin: 0 -5px 0 5px;
	}
	&-icon-close {
		margin: 0 -4px 0 8px;
	}
	&-margin-top {
		margin-top: 30px;
	}
}
.text-white {
	color: $white;
}
.text-black {
	color: $black;
}
.text-shadow {
	text-shadow: 1px 1px 1px $black;
}
.phone-number {
	color: $red;
	font-size: 1.2em;
}
.section {
	&--padding {
		padding: 50px 0;
	}
	&--red {
		background: $red;
	}
	&--white {
		background: $white;
	}
	&--gray {
		background: $gray;
	}
	&--about {
		padding: 0;
		max-height: 500px;
		position: relative;
	}
}
// ---------------------- End Default style




// ---------------------- Body
.wrapper {
	margin: 0 auto;
	overflow: hidden;
}
// ---------------------- Header
.header {
	background: $white;
	// @include media('>=tablet') {
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}
.navbar {
	border-bottom: 8px solid $red;
	margin-bottom: 0;
}
.nav__link {
	font-weight: 700;
	color: $black;
	font-size: 18px;
	@extend %transition;
	&:hover {
		color: $red;
	}
}
.navbar-header {
	position: relative;
}
.navbar-brand {
	display: block;
	height: 118px;
	padding: 5px;
	background: $white;
	position: absolute;
	top: 0;
	left: 50px;
	color: $black;
	font-weight: 700;
	font-size: 5rem;
	line-height: 1;
	span {
		font-size: 6rem;
		color: $red;
		display: block;
		text-align: center;
	}
	&:hover {
		color: inherit;
	}
}

.info {
	font-style: italic;
	background: $white;
}
.adress,
.phones {
	line-height: 60px;
	@include v-align;
	margin-left: 50px;
	i {
		color: $red;
	}
	a {
		color: $black;
		padding-left: 20px;
	}
}
// ---------------------- End Header


.main {
	height: 100vh;
	background: $red;
}

.about {
	margin-top: 120px;
	color: $white;
	max-height: 500px;
	padding: 10px 0;
	overflow: hidden;
	&__img {
		object-fit: cover;
	}
	&__title {
		margin: 0;
	}
	&__text {
		font-weight: 400;
		max-width: 500px;
		line-height: 1.3;
	}
	&__btn {
		margin-top: 50px;
	}
}

.destiny {
	color: $white;
	max-height: 500px;
	padding: 10px 0;
	overflow: hidden;
	&__box {
		padding-left: 100px;
		color: $black;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 45px;
			left: 10px;
			width: 65px;
			height: 65px;
			// border: 1px solid #000;
			background-image: url(images/icon/icon-sprite-1.png);
			background-position: -29px 0px;
		}
		&:nth-child(2) {
			&::before {
				background-position: -120px 0px;
			}
		}
		&:nth-child(3) {
			&::before {
				background-position: -209px 0px;
			}
		}
	}
	&__title {
		color: $red;
	}
	&__img {
		box-shadow: -10px 30px 0px $red;
	}
	&__text {
		font-weight: 400;
		max-width: 500px;
	}
	&__btn {
		margin-top: 50px;
	}
}




.benefits__img {
	display: block;
	width: 110px;
	height: 100px;
	margin: 30px auto;
	background: url(images/icon/icon-sprite-2.png);
	&--price {
		background-position: -60px 0px;
	}
	&--confident {
		background-position: -215px 5px;
	}
	&--speak {
		background-position: -385px 0px;
		
	}
}

.section--schedule {
	background: $white url(images/nomera.jpg) no-repeat 50% 0;
	background-size: contain;
}
.schedule {
	margin: 50px 0 0;
	padding: 20px;
	&__img {
		display: block;
		width: 150px;
		height: 100px;
		margin: 10px auto;
		background: url(images/icon/icon-sprite-2.png);
		&--time {
			background-position: -20px -160px;
		}
		&--room {
			background-position: -200px -160px;
		}
	}
	&__text {
		max-width: 300px;
		margin: 0 auto;
	}
}


.section--room {
	padding-top: 0;
}

.swiper-container {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	background-size: cover;
	background-position: center;
}
.gallery-top {
	height: 80%;
	width: 100%;
}
.gallery-thumbs {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
	opacity: 1;
}
.swiper-button-next,
.swiper-button-prev {
	top: initial;
	bottom: 120px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba($white, .7);
	padding: 50px;
	transform: scale(.5);
}




.description__box {
	background: $gray;
	margin: 1px -15px;
	padding: 1px 15px 15px 40px;
}
.capacity {
	position: relative;
	padding-left: 30px;
	font-weight: 700;
	&::before {
		position: absolute;
		content: "";
		display: block;
		top: calc(50% - 9px);
		left: 0;
		width: 16px;
		height: 16px;
		background: $red;
	}
}
.filling {
	border-top: 3px solid red;
	&__icon {
		width: calc(100% / 9);
		height: 64px;
		background-image: url(images/icon/icon-sprite-1.png);
		&:nth-child(1) {
			background-position: -60px -85px;
		}
		&:nth-child(2) {
			background-position: -148px -85px;
		}
		&:nth-child(3) {
			background-position: -240px -85px;
		}
		&:nth-child(4) {
			background-position: -305px -85px;
		}
		&:nth-child(5) {
			background-position: -395px -85px;
		}
		&:nth-child(6) {
			background-position: -40px -175px;
		}
		&:nth-child(7) {
			background-position: -130px -175px;
		}
		&:nth-child(8) {
			background-position: -210px -175px;
		}
		&:nth-child(9) {
			background-position: -310px -175px;
		}
	}
	&__price {
		font-size: 30px;
	}
}



